<!-- This is a content page that will be included in the layout page -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <div class="row">
        <div class="col-md-4">
            <h2>Heading 4</h2>
            <p>Quisque condimentum eget tortor vel commodo. Aliquam eget est pharetra dolor congue molestie. Curabitur euismod aliquet mauris sed aliquet. Aenean venenatis sed justo ut dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vel quam sed turpis rhoncus ullamcorper vel nec magna. Praesent sed venenatis risus, non volutpat arcu. Nunc mollis libero eu arcu ultrices hendrerit.</p>
            <p>
                <h:outputLink value="#" class="btn btn-default" role="button">#{msgs.viewDetails}</h:outputLink>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading 5</h2>
            <p>Maecenas sagittis orci sed orci faucibus fringilla. In nibh lectus, ultrices et velit tristique, ullamcorper consectetur ipsum. Cras quis congue massa. Maecenas placerat sapien dui, quis pretium felis auctor vitae. Fusce eleifend consequat pretium. Vivamus eu eros blandit, egestas lorem eu, consectetur augue. Proin elementum sagittis felis sed commodo. Pellentesque et tortor sit amet est suscipit porta ac eu mi. Donec id fermentum libero. Integer sit amet condimentum massa.</p>
            <p>
                <h:outputLink value="#" class="btn btn-default" role="button">#{msgs.viewDetails}</h:outputLink>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading 6</h2>
            <p>Aliquam erat volutpat. In quam nibh, consequat ac magna eu, rhoncus rhoncus dolor. Proin volutpat auctor euismod. Quisque euismod ante nec odio scelerisque, iaculis sodales justo maximus. Cras fringilla, sapien rhoncus faucibus consequat, mauris enim laoreet felis, non auctor magna purus vitae dui. Cras vel risus fringilla, fringilla neque quis, suscipit dolor. Vestibulum finibus non turpis vel consequat. Fusce tristique condimentum ipsum, nec porttitor mi scelerisque at. Donec sit amet ex maximus, ultricies mauris ut, pharetra nibh. Nam sagittis, turpis vitae commodo rhoncus, magna ipsum gravida quam, at finibus leo lectus sit amet eros. Mauris venenatis lobortis dapibus. Donec elementum quis tortor ut accumsan. Morbi sit amet felis et nisl accumsan feugiat et sed mauris.</p>
            <p>
                <h:outputLink value="#" class="btn btn-default" role="button">#{msgs.viewDetails}</h:outputLink>
            </p>
        </div>
    </div>

    <hr/>
</ui:composition>
