<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Hamburger menu -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h:outputLink class="navbar-brand" value="index1.xhtml">#{msgs.projectName}</h:outputLink>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <h:outputLink value="index1.xhtml">#{msgs.home}</h:outputLink>
                    </li>
                    <li>
                        <h:outputLink value="index1.xhtml">#{msgs.page1}</h:outputLink>
                    </li>
                    <li>
                        <h:outputLink value="index2.xhtml">#{msgs.page2}</h:outputLink>
                    </li>
                </ul>
                <h:form class="navbar-form navbar-right">
                    <div class="form-group">
                        <h:inputText pt:placeholder="#{msgs.email}" value="#{userBean.name}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <h:inputText pt:type="password" pt:placeholder="#{msgs.password}" value="#{userBean.password}" class="form-control"/>
                    </div>
                    <!-- no button action in this example -->
                    <h:commandButton value="#{msgs.submitBtn}" action="#{nextPageAction.doNextPage()}" class="btn btn-success" />

                </h:form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
</ui:composition>
